
<IfModule mod_php5.c>
php_value include_path ".:/usr/lib/php:/usr/local/lib/php:/home4/finka/php"
</IfModule>

SecFilterEngine Off

RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.finka\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^finka\.com\.pl$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteCond %{HTTP_HOST} ^finka\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]

RewriteCond %{HTTP_HOST} ^tiksoft\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteRule ^#$ index.php?mp=43 [L,QSA] 
RewriteRule ^oferta/$ index.php?mp=44 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=45 [L,QSA] 
RewriteRule ^e-sklep/$ index.php?mp=46 [L,QSA] 
RewriteRule ^promocje/$ index.php?mp=47 [L,QSA] 
RewriteRule ^strefa-uzytkownika/$ index.php?mp=48 [L,QSA] 
RewriteRule ^o-firmie/$ index.php?mp=49 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=50 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=51 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=52 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=53 [L,QSA] 
RewriteRule ^oferta/male-srednie-firmy/$ index.php?mp=60 [L,QSA] 
RewriteRule ^oferta/biura-rachunkowe/$ index.php?mp=61 [L,QSA] 
RewriteRule ^oferta/fundacje-i-stowarzyszenia/$ index.php?mp=62 [L,QSA] 
RewriteRule ^o-firmie/kontakt/$ index.php?mp=64 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=67 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=68 [L,QSA] 
RewriteRule ^Rozbudowa_programu.htm$ index.php?mp=410 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=76 [L,QSA] 
RewriteRule ^oferta/kasa/wersje-probne/$ index.php?mp=88 [L,QSA] 
RewriteRule ^oferta/kasa/ekrany/$ index.php?mp=89 [L,QSA] 
RewriteRule ^oferta/kasa/nowosci/$ index.php?mp=91 [L,QSA] 
RewriteRule ^strefa-uzytkownika/wdrozenia-i-szkolenia/$ index.php?mp=96 [L,QSA] 
RewriteRule ^o-firmie/$ index.php?mp=97 [L,QSA] 
RewriteRule ^o-firmie/jak-zostac-partnerem/$ index.php?mp=99 [L,QSA] 
RewriteRule ^o-firmie/siec-sprzedazy/$ index.php?mp=100 [L,QSA] 
RewriteRule ^o-firmie/nasi-klienci/$ index.php?mp=101 [L,QSA] 
RewriteRule ^o-firmie/kontakt/$ index.php?mp=103 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=139 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=140 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=142 [L,QSA] 
RewriteRule ^FinKs.htm$ index.php?mp=150 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=160 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=167 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=235 [L,QSA] 
RewriteRule ^oferta/ryczalt/wersja-probna/$ index.php?mp=236 [L,QSA] 
RewriteRule ^oferta/ryczalt/ekrany/$ index.php?mp=237 [L,QSA] 
RewriteRule ^oferta/ryczalt/nowosci/$ index.php?mp=239 [L,QSA] 
RewriteRule ^kupuje_RYCZALT.htm$ index.php?mp=247 [L,QSA] 
RewriteRule ^koszyk/$ index.php?mp=262 [L,QSA] 
RewriteRule ^Regulamin sklepu.htm$ index.php?mp=264 [L,QSA] 
RewriteRule ^Biuro rachunkowe.htm$ index.php?mp=267 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualnosci/$ index.php?mp=278 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=302 [L,QSA] 
RewriteRule ^baza-wiedzy/faq/$ index.php?mp=303 [L,QSA] 
RewriteRule ^baza-wiedzy/wymagania-techniczne/$ index.php?mp=305 [L,QSA] 
RewriteRule ^oferta/$ index.php?mp=307 [L,QSA] 
RewriteRule ^oferta/dla-kogo/$ index.php?mp=309 [L,QSA] 
RewriteRule ^oferta/kola-lowieckie/$ index.php?mp=310 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualne-wersje/$ index.php?mp=311 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualne-wersje/$ index.php?mp=312 [L,QSA] 
RewriteRule ^strefa-uzytkownika/jak-kupic-program/$ index.php?mp=313 [L,QSA] 
RewriteRule ^strefa-uzytkownika/uslugi-abonamentowe/$ index.php?mp=314 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=315 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/ekrany/$ index.php?mp=316 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=318 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/nowosci/$ index.php?mp=319 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/$ index.php?mp=321 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/$ index.php?mp=322 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/wersje-probne/$ index.php?mp=323 [L,QSA] 
RewriteRule ^Dokumentacja_FKDOS.htm$ index.php?mp=324 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/nowosci/$ index.php?mp=325 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=327 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=328 [L,QSA] 
RewriteRule ^wersje-probne/dos/$ index.php?mp=329 [L,QSA] 
RewriteRule ^wersje-probne/demo/$ index.php?mp=330 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=398 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=332 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/wersje-probne/$ index.php?mp=333 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/ekrany/$ index.php?mp=334 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/nowosci/$ index.php?mp=336 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/$ index.php?mp=338 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/$ index.php?mp=339 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/wersje-probne/$ index.php?mp=340 [L,QSA] 
RewriteRule ^Dokumentacja_KPRDOS.htm$ index.php?mp=341 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/nowosci/$ index.php?mp=342 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=344 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=345 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/wersje-probne/$ index.php?mp=346 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/ekrany/$ index.php?mp=347 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/nowosci/$ index.php?mp=349 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/$ index.php?mp=351 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/$ index.php?mp=352 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/wersje-probne/$ index.php?mp=353 [L,QSA] 
RewriteRule ^Dokumentacja_PLADOS.htm$ index.php?mp=354 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/nowosci/$ index.php?mp=355 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki/$ index.php?mp=357 [L,QSA] 
RewriteRule ^baza-wiedzy/podatki/$ index.php?mp=358 [L,QSA] 
RewriteRule ^baza-wiedzy/place/$ index.php?mp=359 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=361 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=362 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=363 [L,QSA] 
RewriteRule ^oferta/faktura/wersje-probne/$ index.php?mp=364 [L,QSA] 
RewriteRule ^oferta/faktura/ekrany/$ index.php?mp=365 [L,QSA] 
RewriteRule ^oferta/faktura/nowosci/$ index.php?mp=366 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=368 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=369 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=370 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=371 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=372 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/ekrany/$ index.php?mp=373 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/nowosci/$ index.php?mp=374 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/$ index.php?mp=376 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/$ index.php?mp=377 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/wersje-probne/$ index.php?mp=378 [L,QSA] 
RewriteRule ^Dokumentacja_STWDOS.htm$ index.php?mp=379 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/nowosci/$ index.php?mp=380 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=382 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=383 [L,QSA] 
RewriteRule ^oferta/magazyn/wersje-probne/$ index.php?mp=384 [L,QSA] 
RewriteRule ^Dokumentacja_MAGDOS.htm$ index.php?mp=385 [L,QSA] 
RewriteRule ^oferta/magazyn/nowosci/$ index.php?mp=386 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/funkcje/$ index.php?mp=388 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/funkcje/$ index.php?mp=389 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/funkcje/$ index.php?mp=391 [L,QSA] 
RewriteRule ^oferta/ryczalt/funkcje/$ index.php?mp=392 [L,QSA] 
RewriteRule ^oferta/faktura/funkcje/$ index.php?mp=393 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/funkcje/$ index.php?mp=394 [L,QSA] 
RewriteRule ^Rekrutacja.htm$ index.php?mp=395 [L,QSA] 
RewriteRule ^oferta/mikro-firmy/$ index.php?mp=396 [L,QSA] 
RewriteRule ^Nowosci_VATDOS.htm$ index.php?mp=397 [L,QSA] 
RewriteRule ^baza-wiedzy/faq/$ index.php?mp=401 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=400 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki-i-stawki/$ index.php?mp=494 [L,QSA] 
RewriteRule ^baza-wiedzy/stawki-zus/$ index.php?mp=496 [L,QSA] 
RewriteRule ^strefa-uzytkownika/$ index.php?mp=406 [L,QSA] 
RewriteRule ^o-firmie/$ index.php?mp=407 [L,QSA] 
RewriteRule ^wersje-probne/wersje-szkoleniowe/$ index.php?mp=408 [L,QSA] 
RewriteRule ^o-firmie/siec-sprzedazy/$ index.php?mp=409 [L,QSA] 
RewriteRule ^strefa-uzytkownika/uslugi-abonamentowe/$ index.php?mp=411 [L,QSA] 
RewriteRule ^Test.htm$ index.php?mp=412 [L,QSA] 
RewriteRule ^Promocje2.htm$ index.php?mp=417 [L,QSA] 
RewriteRule ^ordynacja_2016_1.htm$ index.php?mp=418 [L,QSA] 
RewriteRule ^zmniejszanie_kosztow.htm$ index.php?mp=419 [L,QSA] 
RewriteRule ^baza-wiedzy/wymagania-techn/$ index.php?mp=504 [L,QSA] 
RewriteRule ^baza-wiedzy/na-korzysc/$ index.php?mp=501 [L,QSA] 
RewriteRule ^baza-wiedzy/ewidencja-zakupu-vat/$ index.php?mp=452 [L,QSA] 
RewriteRule ^baza-wiedzy/ksiegowosc-uproszczona/$ index.php?mp=427 [L,QSA] 
RewriteRule ^baza-wiedzy/obliczanie-ryczaltu/$ index.php?mp=428 [L,QSA] 
RewriteRule ^baza-wiedzy/rejestr-faktur-vat/$ index.php?mp=429 [L,QSA] 
RewriteRule ^baza-wiedzy/program-do-obliczania-wynagrodzenia/$ index.php?mp=430 [L,QSA] 
RewriteRule ^baza-wiedzy/program-do-fakturowania-z-magazynem/$ index.php?mp=431 [L,QSA] 
RewriteRule ^baza-wiedzy/prowadzenie-ewidencji-ksiegowej-srodki-trwale/$ index.php?mp=432 [L,QSA] 
RewriteRule ^baza-wiedzy/ryczalt-od-przychodow-ewidencjonowanych/$ index.php?mp=434 [L,QSA] 
RewriteRule ^baza-wiedzy/prowadzenie-ksiegi-przychodow-i-rozchodow/$ index.php?mp=435 [L,QSA] 
RewriteRule ^baza-wiedzy/ksiegowosc-w-malej-firmie/$ index.php?mp=436 [L,QSA] 
RewriteRule ^baza-wiedzy/zarzadzanie-produkcja/$ index.php?mp=437 [L,QSA] 
RewriteRule ^baza-wiedzy/zarzadzanie-firma/$ index.php?mp=438 [L,QSA] 
RewriteRule ^baza-wiedzy/firmy-produkcyjne/$ index.php?mp=439 [L,QSA] 
RewriteRule ^baza-wiedzy/program-do-prowadzenia-sklepu/$ index.php?mp=440 [L,QSA] 
RewriteRule ^baza-wiedzy/ewidencja-przychodu/$ index.php?mp=441 [L,QSA] 
RewriteRule ^baza-wiedzy/systemy-dla-firm/$ index.php?mp=442 [L,QSA] 
RewriteRule ^baza-wiedzy/program-magazynowo-fakturowy/$ index.php?mp=443 [L,QSA] 
RewriteRule ^baza-wiedzy/wystawianie-faktur/$ index.php?mp=444 [L,QSA] 
RewriteRule ^baza-wiedzy/program-do-fakturowania-cena/$ index.php?mp=445 [L,QSA] 
RewriteRule ^baza-wiedzy/zarzadzanie-magazynem/$ index.php?mp=446 [L,QSA] 
RewriteRule ^baza-wiedzy/system-kadrowo-placowy/$ index.php?mp=447 [L,QSA] 
RewriteRule ^baza-wiedzy/firmy-uslugowe/$ index.php?mp=448 [L,QSA] 
RewriteRule ^baza-wiedzy/dobry-program-ksiegowy/$ index.php?mp=449 [L,QSA] 
RewriteRule ^baza-wiedzy/program-do-tworzenia-faktur/$ index.php?mp=450 [L,QSA] 
RewriteRule ^baza-wiedzy/najlepszy-program-do-fakturowania/$ index.php?mp=451 [L,QSA] 
RewriteRule ^baza-wiedzy/wystawianie-faktur-1/$ index.php?mp=463 [L,QSA] 
RewriteRule ^baza-wiedzy/wystawianie-faktur-2/$ index.php?mp=454 [L,QSA] 
RewriteRule ^baza-wiedzy/numeracja-faktur/$ index.php?mp=455 [L,QSA] 
RewriteRule ^baza-wiedzy/daty-na-fakturze/$ index.php?mp=456 [L,QSA] 
RewriteRule ^baza-wiedzy/sprzedawca-nabywca/$ index.php?mp=457 [L,QSA] 
RewriteRule ^baza-wiedzy/pozycje-faktury/$ index.php?mp=458 [L,QSA] 
RewriteRule ^baza-wiedzy/ceny-i-wartosci-na-fakturze/$ index.php?mp=460 [L,QSA] 
RewriteRule ^baza-wiedzy/podsumowanie-faktury/$ index.php?mp=461 [L,QSA] 
RewriteRule ^baza-wiedzy/podpis-na-fakturze/$ index.php?mp=462 [L,QSA] 
RewriteRule ^baza-wiedzy/inne/$ index.php?mp=500 [L,QSA] 
RewriteRule ^baza-wiedzy/ZUS-przy-wychowawczym/$ index.php?mp=488 [L,QSA] 
RewriteRule ^baza-wiedzy/kadry-place/$ index.php?mp=487 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki-podatkowe/$ index.php?mp=495 [L,QSA] 
RewriteRule ^baza-wiedzy/podatek-VAT-2014/$ index.php?mp=473 [L,QSA] 
RewriteRule ^baza-wiedzy/podatkiXX/$ index.php?mp=470 [L,QSA] 
RewriteRule ^baza-wiedzy/blog/$ index.php?mp=472 [L,QSA] 
RewriteRule ^baza-wiedzy/VAT-samoch/$ index.php?mp=475 [L,QSA] 
RewriteRule ^baza-wiedzy/VAT-uslugi-elektroniczne/$ index.php?mp=477 [L,QSA] 
RewriteRule ^baza-wiedzy/ksiegowosc-bez-uprawnien/$ index.php?mp=479 [L,QSA] 
RewriteRule ^baza-wiedzy/bilans-mikro/$ index.php?mp=480 [L,QSA] 
RewriteRule ^baza-wiedzy/kasy-fiskalne-2015/$ index.php?mp=481 [L,QSA] 
RewriteRule ^baza-wiedzy/ubezpieczenie-biura-rachunkowego/$ index.php?mp=483 [L,QSA] 
RewriteRule ^baza-wiedzy/VAT-2014-odwrotne-obciazenie/$ index.php?mp=484 [L,QSA] 
RewriteRule ^baza-wiedzy/VAT-od-paliwa/$ index.php?mp=485 [L,QSA] 
RewriteRule ^baza-wiedzy/VAT-7-ver-15/$ index.php?mp=486 [L,QSA] 
RewriteRule ^baza-wiedzy/macierzynski-roczny/$ index.php?mp=489 [L,QSA] 
RewriteRule ^baza-wiedzy/ZUS-przy-dwoch-umowach/$ index.php?mp=490 [L,QSA] 
RewriteRule ^baza-wiedzy/stawka-wypadkowa/$ index.php?mp=491 [L,QSA] 
RewriteRule ^baza-wiedzy/zasilek-macierzynski-przedsiebiorcy/$ index.php?mp=493 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki-podatkowe/$ index.php?mp=499 [L,QSA] 
RewriteRule ^baza-wiedzy/stawki-zus/$ index.php?mp=498 [L,QSA] 
RewriteRule ^baza-wiedzy/koniec-zmniejszania-kosztow/$ index.php?mp=502 [L,QSA] 
