
<IfModule mod_php5.c>
php_value include_path ".:/usr/lib/php:/usr/local/lib/php:/home4/finka/php"
</IfModule>

SecFilterEngine Off

RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.finka\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^finka\.com\.pl$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteCond %{HTTP_HOST} ^finka\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]

RewriteCond %{HTTP_HOST} ^tiksoft\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteRule ^StronaGlowna.htm$ index.php?mp=43 [L,QSA] 
#RewriteRule ^Programy.htm$ index.php?mp=44 [L,QSA] 
#RewriteRule ^WersjeProbne.htm$ index.php?mp=45 [L,QSA] 
#RewriteRule ^E-sklep.htm$ index.php?mp=46 [L,QSA] 
#RewriteRule ^Promocje.htm$ index.php?mp=47 [L,QSA] 
#RewriteRule ^Strefa_Uzytkownika.htm$ index.php?mp=48 [L,QSA] 
#RewriteRule ^O_firmie.htm$ index.php?mp=49 [L,QSA] 
#RewriteRule ^Opis_FKWIN.htm$ index.php?mp=50 [L,QSA] 
#RewriteRule ^Ksiega-podatkowa-Windows.htm$ index.php?mp=51 [L,QSA] 
#RewriteRule ^Opis_FAKTURA.htm$ index.php?mp=52 [L,QSA] 
#RewriteRule ^male_srednie_firmy.htm$ index.php?mp=60 [L,QSA] 
#RewriteRule ^biura_rachunkowe.htm$ index.php?mp=61 [L,QSA] 
#RewriteRule ^fundacje_stowarzyszenia.htm$ index.php?mp=62 [L,QSA] 
#RewriteRule ^Kontakt.htm$ index.php?mp=64 [L,QSA] 
#RewriteRule ^WersjeProbneDol.htm$ index.php?mp=67 [L,QSA] 
#RewriteRule ^BazaWiedzy.htm$ index.php?mp=68 [L,QSA] 
#RewriteRule ^Rozbudowa_programu.htm$ index.php?mp=410 [L,QSA] 
#RewriteRule ^WersjeInternetoweWIN.htm$ index.php?mp=76 [L,QSA] 
#RewriteRule ^WersjaProbnaKASA.htm$ index.php?mp=88 [L,QSA] 
#RewriteRule ^EkranyKASA.htm$ index.php?mp=89 [L,QSA] 
#RewriteRule ^Nowosci_KASA.htm$ index.php?mp=91 [L,QSA] 
#RewriteRule ^Wdrozenia_i_szkolenia.htm$ index.php?mp=96 [L,QSA] 
#RewriteRule ^ONas.htm$ index.php?mp=97 [L,QSA] 
#RewriteRule ^AjkZostacPartnerem.htm$ index.php?mp=99 [L,QSA] 
#RewriteRule ^SiecSprzedazy.htm$ index.php?mp=100 [L,QSA] 
#RewriteRule ^NasiKlienci.htm$ index.php?mp=101 [L,QSA] 
#RewriteRule ^KontaktONAS.htm$ index.php?mp=103 [L,QSA] 
#RewriteRule ^opis_fkwin.htm$ index.php?mp=139 [L,QSA] 
#RewriteRule ^Opis_KPRWIN.htm$ index.php?mp=140 [L,QSA] 
#RewriteRule ^Opis_KASA.htm$ index.php?mp=142 [L,QSA] 
RewriteRule ^FinKs.htm$ index.php?mp=150 [L,QSA] 
#RewriteRule ^FINKA_KADRY_PLACE.htm$ index.php?mp=160 [L,QSA] 
#RewriteRule ^RYCZALT.htm$ index.php?mp=167 [L,QSA] 
#RewriteRule ^Opis_RYCZALT.htm$ index.php?mp=235 [L,QSA] 
#RewriteRule ^Probna_RYCZALT.htm$ index.php?mp=236 [L,QSA] 
#RewriteRule ^Ekrany_RYCZALT.htm$ index.php?mp=237 [L,QSA] 
#RewriteRule ^newsy_RYCZALT.htm$ index.php?mp=239 [L,QSA] 
RewriteRule ^kupuje_RYCZALT.htm$ index.php?mp=247 [L,QSA] 
#RewriteRule ^koszykPage.htm$ index.php?mp=262 [L,QSA] 
RewriteRule ^Regulamin sklepu.htm$ index.php?mp=264 [L,QSA] 
RewriteRule ^Biuro rachunkowe.htm$ index.php?mp=267 [L,QSA] 
#RewriteRule ^AktualnWsparcie.htm$ index.php?mp=278 [L,QSA] 
#RewriteRule ^Baza_wiedzy.htm$ index.php?mp=302 [L,QSA] 
#RewriteRule ^FAQ.htm$ index.php?mp=303 [L,QSA] 
#RewriteRule ^Wymagania_techniczne.htm$ index.php?mp=305 [L,QSA] 
#RewriteRule ^AktualneWersje.htm$ index.php?mp=311 [L,QSA] 
#RewriteRule ^AktualneWersje.htm$ index.php?mp=312 [L,QSA] 
#RewriteRule ^Jak_kupic_program.htm$ index.php?mp=313 [L,QSA] 
#RewriteRule ^Uslugi_abonamentowe.htm$ index.php?mp=314 [L,QSA] 
#RewriteRule ^Wersje_probne.htm$ index.php?mp=315 [L,QSA] 
#RewriteRule ^Ekrany_FKWIN.htm$ index.php?mp=316 [L,QSA] 
#RewriteRule ^Finka_FKWIN.htm$ index.php?mp=318 [L,QSA] 
#RewriteRule ^Nowosci_FKWIN.htm$ index.php?mp=319 [L,QSA] 
#RewriteRule ^Wersje_probne_FKDOS.htm$ index.php?mp=323 [L,QSA] 
RewriteRule ^Dokumentacja_FKDOS.htm$ index.php?mp=324 [L,QSA] 
#RewriteRule ^Nowosci_FKDOS.htm$ index.php?mp=325 [L,QSA] 
#RewriteRule ^Opis_STWWIN.htm$ index.php?mp=328 [L,QSA] 
#RewriteRule ^Wersje_probne_DOS.htm$ index.php?mp=329 [L,QSA] 
#RewriteRule ^Formularz_demo.htm$ index.php?mp=330 [L,QSA] 
#RewriteRule ^Wersje_probne1.htm$ index.php?mp=398 [L,QSA] 
#RewriteRule ^Filmy_KPRWIN.htm$ index.php?mp=332 [L,QSA] 
#RewriteRule ^Wersje_probne_WIN.htm$ index.php?mp=333 [L,QSA] 
#RewriteRule ^Ekrany_KPRWIN.htm$ index.php?mp=334 [L,QSA] 
#RewriteRule ^Nowosci_KPRWIN.htm$ index.php?mp=336 [L,QSA] 
#RewriteRule ^Opis_KPRDOS.htm$ index.php?mp=338 [L,QSA] 
#RewriteRule ^Opis_KPRDOS.htm$ index.php?mp=339 [L,QSA] 
#RewriteRule ^Wersje_probne_KPRDOS.htm$ index.php?mp=340 [L,QSA] 
RewriteRule ^Dokumentacja_KPRDOS.htm$ index.php?mp=341 [L,QSA] 
#RewriteRule ^Nowosci_KPRDOS.htm$ index.php?mp=342 [L,QSA] 
#RewriteRule ^FINKA_KADRY_PLACE.htm$ index.php?mp=344 [L,QSA] 
#RewriteRule ^Opis_FINKA_PLACE.htm$ index.php?mp=345 [L,QSA] 
#RewriteRule ^Nowosci_PLAWIN.htm$ index.php?mp=349 [L,QSA] 
RewriteRule ^Dokumentacja_PLADOS.htm$ index.php?mp=354 [L,QSA] 
#RewriteRule ^Nowosci_PLADOS.htm$ index.php?mp=355 [L,QSA] 
#RewriteRule ^wskazniki.htm$ index.php?mp=357 [L,QSA] 
#RewriteRule ^podatki.htm$ index.php?mp=358 [L,QSA] 
#RewriteRule ^place.htm$ index.php?mp=359 [L,QSA] 
#RewriteRule ^Nowosci_FV.htm$ index.php?mp=366 [L,QSA] 
#RewriteRule ^Finka-RTYCZALT.htm$ index.php?mp=369 [L,QSA] 
#RewriteRule ^Opis_STWWIN.htm$ index.php?mp=370 [L,QSA] 
#RewriteRule ^Opis_STWWIN.htm$ index.php?mp=371 [L,QSA] 
#RewriteRule ^Wersje_probne.htm$ index.php?mp=372 [L,QSA] 
#RewriteRule ^Nowosci_STWWIN.htm$ index.php?mp=374 [L,QSA] 
#RewriteRule ^Opis_STWDOS.htm$ index.php?mp=376 [L,QSA] 
#RewriteRule ^Opis_STWDOS.htm$ index.php?mp=377 [L,QSA] 
RewriteRule ^Dokumentacja_STWDOS.htm$ index.php?mp=379 [L,QSA] 
#RewriteRule ^Nowosci_STWDOS.htm$ index.php?mp=380 [L,QSA] 
RewriteRule ^Dokumentacja_MAGDOS.htm$ index.php?mp=385 [L,QSA] 
#RewriteRule ^Nowosci_MAGDOS.htm$ index.php?mp=386 [L,QSA] 
#RewriteRule ^Funkcje_FKWIN.htm$ index.php?mp=388 [L,QSA] 
#RewriteRule ^PLACE_Funkcje.htm$ index.php?mp=389 [L,QSA] 
#RewriteRule ^Funkcje_RYCZALT.htm$ index.php?mp=392 [L,QSA] 
RewriteRule ^Rekrutacja.htm$ index.php?mp=395 [L,QSA] 
#RewriteRule ^mikro_firmy.htm$ index.php?mp=396 [L,QSA] 
RewriteRule ^Nowosci_VATDOS.htm$ index.php?mp=397 [L,QSA] 
#RewriteRule ^FAQ_odpowiedzi.htm$ index.php?mp=401 [L,QSA] 
#RewriteRule ^Baza_wiedzy_.htm$ index.php?mp=400 [L,QSA] 
#RewriteRule ^Wymagania_techniczne_.htm$ index.php?mp=402 [L,QSA] 
#RewriteRule ^Wskazniki.htm$ index.php?mp=403 [L,QSA] 
#RewriteRule ^Podatki.htm$ index.php?mp=404 [L,QSA] 
#RewriteRule ^Place_.htm$ index.php?mp=405 [L,QSA] 
#RewriteRule ^Strefa_Uzytkownika_.htm$ index.php?mp=406 [L,QSA] 
#RewriteRule ^Uslugi_abonamentowe_dol.htm$ index.php?mp=411 [L,QSA] 
RewriteRule ^Test.htm$ index.php?mp=412 [L,QSA] 
RewriteRule ^Promocje2.htm$ index.php?mp=417 [L,QSA] 
RewriteRule ^ordynacja_2016_1.htm$ index.php?mp=418 [L,QSA] 
RewriteRule ^zmniejszanie_kosztow.htm$ index.php?mp=419 [L,QSA] 
#RewriteRule ^Inne_artykuly.htm$ index.php?mp=420 [L,QSA] 
RewriteRule ^BazaTest.htm$ index.php?mp=421 [L,QSA] 


#nowe adresy
RewriteRule ^oferta/$ index.php?mp=44 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=45 [L,QSA] 
RewriteRule ^promocje/$ index.php?mp=47 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=45 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=68 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=302 [L,QSA] 
RewriteRule ^strefa-uzytkownika/$ index.php?mp=48 [L,QSA] 
RewriteRule ^o-firmie/$ index.php?mp=49 [L,QSA] 
RewriteRule ^e-sklep/$ index.php?mp=46 [L,QSA] 
RewriteRule ^koszyk/$ index.php?mp=262 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualne-wersje/$ index.php?mp=311 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualne-wersje/$ index.php?mp=312 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=67 [L,QSA] 
RewriteRule ^uslugi-abonamentowe$ index.php?mp=411 [L,QSA] 
RewriteRule ^o-firmie/siec-sprzedazy/$ index.php?mp=100 [L,QSA] 
RewriteRule ^o-firmie/siec-sprzedazy/$ index.php?mp=409 [L,QSA] 
RewriteRule ^o-firmie/kontakt/$ index.php?mp=103 [L,QSA] 
RewriteRule ^o-firmie/kontakt/$ index.php?mp=64 [L,QSA] 
RewriteRule ^baza-wiedzy/faq/$ index.php?mp=401 [L,QSA] 
RewriteRule ^baza-wiedzy/wymagania-techniczne/$ index.php?mp=402 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki/$ index.php?mp=357 [L,QSA] 
RewriteRule ^baza-wiedzy/wskazniki/$ index.php?mp=403 [L,QSA] 
RewriteRule ^baza-wiedzy/podatki/$ index.php?mp=358 [L,QSA] 
RewriteRule ^baza-wiedzy/podatki/$ index.php?mp=404 [L,QSA] 
RewriteRule ^baza-wiedzy/place/$ index.php?mp=405 [L,QSA] 
RewriteRule ^oferta/biura-rachunkowe/$ index.php?mp=61 [L,QSA] 
RewriteRule ^oferta/male-srednie-firmy/$ index.php?mp=60 [L,QSA] 
RewriteRule ^oferta/mikro-firmy/$ index.php?mp=396 [L,QSA] 
RewriteRule ^oferta/fundacje-i-stowarzyszenia/$ index.php?mp=62 [L,QSA] 
RewriteRule ^oferta/kola-lowieckie/$ index.php?mp=310 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=50 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=139 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/$ index.php?mp=318 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/funkcje/$ index.php?mp=388 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/ekrany/$ index.php?mp=316 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa/nowosci/$ index.php?mp=319 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/$ index.php?mp=322 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/$ index.php?mp=321 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/nowosci/$ index.php?mp=325 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=51 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=140 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/funkcje/$ index.php?mp=391 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/ekrany/$ index.php?mp=334 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/nowosci/$ index.php?mp=336 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/$ index.php?mp=338 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/$ index.php?mp=339 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/nowosci/$ index.php?mp=342 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=167 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=369 [L,QSA] 
RewriteRule ^oferta/ryczalt/$ index.php?mp=235 [L,QSA] 
RewriteRule ^oferta/ryczalt/funkcje/$ index.php?mp=392 [L,QSA] 
RewriteRule ^oferta/ryczalt/wersja-probna/$ index.php?mp=236 [L,QSA] 
RewriteRule ^oferta/ryczalt/ekrany/$ index.php?mp=237 [L,QSA] 
RewriteRule ^oferta/ryczalt/nowosci/$ index.php?mp=239 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=160 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=344 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/$ index.php?mp=345 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/funkcje/$ index.php?mp=389 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/wersje-probne/$ index.php?mp=346 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/ekrany/$ index.php?mp=347 [L,QSA] 
RewriteRule ^oferta/kadry-i-place/nowosci/$ index.php?mp=349 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/$ index.php?mp=351 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/$ index.php?mp=352 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/wersje-probne/$ index.php?mp=353 [L,QSA] 
RewriteRule ^oferta/kadry-i-place-dos/nowosci/$ index.php?mp=355 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=328 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=370 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/$ index.php?mp=371 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/funkcje/$ index.php?mp=394 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/ekrany/$ index.php?mp=373 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych/nowosci/$ index.php?mp=374 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/$ index.php?mp=376 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/$ index.php?mp=377 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/wersje-probne/$ index.php?mp=378 [L,QSA] 
RewriteRule ^oferta/ewidencja-srodkow-trwalych-dos/nowosci/$ index.php?mp=380 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=52 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=362 [L,QSA] 
RewriteRule ^oferta/faktura/$ index.php?mp=363 [L,QSA] 
RewriteRule ^oferta/faktura/funkcje/$ index.php?mp=393 [L,QSA] 
RewriteRule ^oferta/faktura/wersje-probne/$ index.php?mp=364 [L,QSA] 
RewriteRule ^oferta/faktura/nowosci/$ index.php?mp=366 [L,QSA] 
RewriteRule ^oferta/faktura/ekrany/$ index.php?mp=365 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=327 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=382 [L,QSA] 
RewriteRule ^oferta/magazyn/$ index.php?mp=383 [L,QSA] 
RewriteRule ^oferta/magazyn/wersje-probne/$ index.php?mp=384 [L,QSA] 
RewriteRule ^oferta/magazyn/nowosci/$ index.php?mp=386 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=53 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=368 [L,QSA] 
RewriteRule ^oferta/kasa/$ index.php?mp=142 [L,QSA] 
RewriteRule ^oferta/kasa/wersje-probne/$ index.php?mp=88 [L,QSA] 
RewriteRule ^oferta/kasa/ekrany/$ index.php?mp=89 [L,QSA] 
RewriteRule ^oferta/kasa/nowosci/$ index.php?mp=91 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=315 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=372 [L,QSA] 
RewriteRule ^strefa-uzytkownika/uslugi-abonamentowe/$ index.php?mp=314 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=398 [L,QSA] 
RewriteRule ^wersje-probne/$ index.php?mp=76 [L,QSA] 
RewriteRule ^wersje-probne/dos/$ index.php?mp=329 [L,QSA] 
RewriteRule ^wersje-probne/wersje-szkoleniowe/$ index.php?mp=408 [L,QSA] 
RewriteRule ^wersje-probne/demo/$ index.php?mp=330 [L,QSA] 
RewriteRule ^strefa-uzytkownika/aktualnosci/$ index.php?mp=278 [L,QSA] 
RewriteRule ^strefa-uzytkownika/jak-kupic-program/$ index.php?mp=313 [L,QSA] 
RewriteRule ^strefa-uzytkownika/wdrozenia-i-szkolenia/$ index.php?mp=96 [L,QSA] 
RewriteRule ^strefa-uzytkownika/rozbudowa-programu/$ index.php?mp=410 [L,QSA] 
RewriteRule ^strefa-uzytkownika/$ index.php?mp=406 [L,QSA] 
RewriteRule ^o-firmie/nasi-klienci/$ index.php?mp=101 [L,QSA] 
RewriteRule ^o-firmie/jak-zostac-partnerem/$ index.php?mp=99 [L,QSA] 
RewriteRule ^o-firmie/$ index.php?mp=97 [L,QSA] 
RewriteRule ^baza-wiedzy/faq/$ index.php?mp=303 [L,QSA] 
RewriteRule ^baza-wiedzy/wymagania-techniczne/$ index.php?mp=305 [L,QSA] 
RewriteRule ^oferta/ksiega-handlowa-dos/wersje-probne/$ index.php?mp=323 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/wersje-probne/$ index.php?mp=333 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/$ index.php?mp=332 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa-dos/wersje-probne/$ index.php?mp=340 [L,QSA] 
RewriteRule ^oferta/$ index.php?mp=307 [L,QSA] 
RewriteRule ^oferta/dla-kogo/$ index.php?mp=309 [L,QSA] 
RewriteRule ^baza-wiedzy/$ index.php?mp=400 [L,QSA] 
RewriteRule ^baza-wiedzy/inne-artykuly/$ index.php?mp=420 [L,QSA] 
RewriteRule ^baza-wiedzy/place/$ index.php?mp=359 [L,QSA] 
RewriteRule ^oferta/ksiega-podatkowa/nowosci/ index.php?mp=336 [L,QSA] 
RewriteRule ^baza-wiedzy/ksiegowosc-uproszczona/ index.php?mp=427 [L,QSA] 
RewriteRule ^baza-wiedzy/obliczanie-ryczaltu/ index.php?mp=428 [L,QSA]
RewriteRule ^baza-wiedzy/rejestr-faktur-vat/ index.php?mp=429 [L,QSA]
RewriteRule ^baza-wiedzy/program-do-obliczania-wynagrodzenia/ index.php?mp=430 [L,QSA]
RewriteRule ^baza-wiedzy/program-do-fakturowania-z-magazynem/ index.php?mp=431 [L,QSA]
RewriteRule ^baza-wiedzy/prowadzenie-ewidencji-ksiegowej-srodki-trwale/ index.php?mp=432 [L,QSA]
RewriteRule ^baza-wiedzy/ryczalt-od-przychodow-ewidencjonowanych/ index.php?mp=434 [L,QSA]
RewriteRule ^baza-wiedzy/prowadzenie-ksiegi-przychodow-i-rozchodow/ index.php?mp=435 [L,QSA]
RewriteRule ^baza-wiedzy/ksiegowosc-w-malej-firmie/ index.php?mp=436 [L,QSA]
RewriteRule ^baza-wiedzy/zarzadzanie-produkcja/ index.php?mp=437 [L,QSA]
RewriteRule ^baza-wiedzy/zarzadzanie-firma/ index.php?mp=438 [L,QSA]
RewriteRule ^baza-wiedzy/firmy-produkcyjne/ index.php?mp=439 [L,QSA]
RewriteRule ^baza-wiedzy/program-do-prowadzenia-sklepu/ index.php?mp=440 [L,QSA]
RewriteRule ^baza-wiedzy/ewidencja-przychodu/ index.php?mp=441 [L,QSA]
RewriteRule ^baza-wiedzy/systemy-dla-firm/ index.php?mp=442 [L,QSA]
RewriteRule ^baza-wiedzy/program-magazynowo-fakturowy/ index.php?mp=443 [L,QSA]
RewriteRule ^baza-wiedzy/wystawianie-faktur/ index.php?mp=444 [L,QSA]
RewriteRule ^baza-wiedzy/program-do-fakturowania-cena/ index.php?mp=445 [L,QSA]
RewriteRule ^baza-wiedzy/zarzadzanie-magazynem/ index.php?mp=446 [L,QSA]
RewriteRule ^baza-wiedzy/system-kadrowo-placowy/ index.php?mp=447 [L,QSA]
RewriteRule ^baza-wiedzy/firmy-uslugowe/ index.php?mp=448 [L,QSA]
RewriteRule ^baza-wiedzy/dobry-program-ksiegowy/ index.php?mp=449 [L,QSA]
RewriteRule ^baza-wiedzy/program-do-tworzenia-faktur/ index.php?mp=450 [L,QSA]
RewriteRule ^baza-wiedzy/najlepszy-program-do-fakturowania/ index.php?mp=451 [L,QSA]
RewriteRule ^baza-wiedzy/ewidencja-sprzedazy/ index.php?mp=452 [L,QSA]


#Przekierowania ze starych wersji adresów na nowe
RewriteRule ^Promocje.htm(.*)$ http://dev.finka.pl/promocje/$1 [R=301, NC]
RewriteRule ^Programy.htm(.*)$ http://dev.finka.pl/oferta/$1 [R=301, NC]
RewriteRule ^WersjeProbne.htm(.*)$ http://dev.finka.pl/wersje-probne/$1 [R=301, NC]
RewriteRule ^BazaWiedzy.htm(.*)$ http://dev.finka.pl/baza-wiedzy/$1 [R=301, NC]
RewriteRule ^Baza_wiedzy.htm(.*)$ http://dev.finka.pl/baza-wiedzy/$1 [R=301, NC]
RewriteRule ^Strefa_Uzytkownika.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika$1 [R=301, NC]
RewriteRule ^O_firmie.htm(.*)$ http://dev.finka.pl/o-firmie$1 [R=301, NC]
RewriteRule ^E-sklep.htm(.*)$ http://dev.finka.pl/e-sklep$1 [R=301, NC]
RewriteRule ^koszykPage.htm(.*)$ http://dev.finka.pl/koszyk/$1 [R=301, NC]
RewriteRule ^AktualneWersje.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/aktualne-wersje/$1 [R=301, NC]
RewriteRule ^WersjeProbneDol.htm(.*)$ http://dev.finka.pl/wersje-probne/$1 [R=301, NC]
RewriteRule ^Uslugi_abonamentowe_dol.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/uslugi-abonamentowe/$1 [R=301, NC]
RewriteRule ^SiecSprzedazy.htm(.*)$ http://dev.finka.pl/o-firmie/siec-sprzedazy/$1 [R=301, NC]
RewriteRule ^KontaktONAS.htm(.*)$ http://dev.finka.pl/o-firmie/kontakt/$1 [R=301, NC]
RewriteRule ^Kontakt.htm(.*)$ http://dev.finka.pl/o-firmie/kontakt/$1 [R=301, NC]
RewriteRule ^FAQ_odpowiedzi.htm(.*)$ http://dev.finka.pl/baza-wiedzy/faq/$1 [R=301, NC]
RewriteRule ^Wymagania_techniczne_.htm(.*)$ http://dev.finka.pl/baza-wiedzy/wymagania-techniczne/$1 [R=301, NC]
RewriteRule ^Wskazniki.htm(.*)$ http://dev.finka.pl/baza-wiedzy/wskazniki/$1 [R=301, NC]
RewriteRule ^Podatki.htm(.*)$ http://dev.finka.pl/baza-wiedzy/podatki/$1 [R=301, NC]
RewriteRule ^Place_.htm(.*)$ http://dev.finka.pl/baza-wiedzy/place/$1 [R=301, NC]
RewriteRule ^biura_rachunkowe.htm(.*)$ http://dev.finka.pl/oferta/biura-rachunkowe/$1 [R=301, NC]
RewriteRule ^male_srednie_firmy.htm(.*)$ http://dev.finka.pl/oferta/male-srednie-firmy/$1 [R=301, NC]
RewriteRule ^mikro_firmy.htm(.*)$ http://dev.finka.pl/oferta/mikro-firmy/$1 [R=301, NC]
RewriteRule ^fundacje_stowarzyszenia.htm(.*)$ http://dev.finka.pl/oferta/fundacje-i-stowarzyszenia/$1 [R=301, NC]
RewriteRule ^Opis_FKWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/$1 [R=301, NC]
RewriteRule ^opis_fkwin.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/$1 [R=301, NC]
RewriteRule ^Funkcje_FKWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/funkcje/$1 [R=301, NC]
RewriteRule ^Ekrany_FKWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/ekrany/$1 [R=301, NC]
RewriteRule ^Nowosci_FKWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/nowosci/$1 [R=301, NC]
RewriteRule ^Finka_FKWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa/$1 [R=301, NC]
RewriteRule ^Nowosci_FKDOS.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa-dos/nowosci/$1 [R=301, NC]
RewriteRule ^Ksiega-podatkowa-Windows.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/$1 [R=301, NC]
RewriteRule ^Opis_KPRWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/$1 [R=301, NC]
RewriteRule ^Ekrany_KPRWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/ekrany/$1 [R=301, NC]
RewriteRule ^Nowosci_KPRWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/nowosci/$1 [R=301, NC]
RewriteRule ^Opis_KPRDOS.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa-dos/$1 [R=301, NC]
RewriteRule ^Nowosci_KPRDOS.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa-dos/nowosci/$1 [R=301, NC]
RewriteRule ^RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/$1 [R=301, NC]
RewriteRule ^Finka-RTYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/$1 [R=301, NC]
RewriteRule ^Opis_RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/$1 [R=301, NC]
RewriteRule ^Funkcje_RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/funkcje/$1 [R=301, NC]
RewriteRule ^Probna_RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/wersja-probna/$1 [R=301, NC]
RewriteRule ^Ekrany_RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/ekrany/$1 [R=301, NC]
RewriteRule ^newsy_RYCZALT.htm(.*)$ http://dev.finka.pl/oferta/ryczalt/nowosci/$1 [R=301, NC]
RewriteRule ^FINKA_KADRY_PLACE.htm(.*)$ http://dev.finka.pl/oferta/kadry-i-place/$1 [R=301, NC]
RewriteRule ^Opis_FINKA_PLACE.htm(.*)$ http://dev.finka.pl/oferta/kadry-i-place/$1 [R=301, NC]
RewriteRule ^PLACE_Funkcje.htm(.*)$ http://dev.finka.pl/oferta/kadry-i-place/funkcje/$1 [R=301, NC]
RewriteRule ^Nowosci_PLAWIN.htm(.*)$ http://dev.finka.pl/oferta/kadry-i-place/nowosci/$1 [R=301, NC]
RewriteRule ^Nowosci_PLADOS.htm(.*)$ http://dev.finka.pl/oferta/kadry-i-place-dos/nowosci/$1 [R=301, NC]
RewriteRule ^Opis_STWWIN.htm(.*)$ http://dev.finka.pl/oferta/ewidencja-srodkow-trwalych/$1 [R=301, NC]
RewriteRule ^Nowosci_STWWIN.htm(.*)$ http://dev.finka.pl/oferta/ewidencja-srodkow-trwalych/nowosci/$1 [R=301, NC]
RewriteRule ^Opis_STWDOS.htm(.*)$ http://dev.finka.pl/oferta/ewidencja-srodkow-trwalych-dos/$1 [R=301, NC]
RewriteRule ^Nowosci_STWDOS.htm(.*)$ http://dev.finka.pl/oferta/ewidencja-srodkow-trwalych-dos/nowosci/$1 [R=301, NC]
RewriteRule ^Opis_FAKTURA.htm(.*)$ http://dev.finka.pl/oferta/faktura/$1 [R=301, NC]
RewriteRule ^Nowosci_FV.htm(.*)$ http://dev.finka.pl/oferta/faktura/nowosci/$1 [R=301, NC]
RewriteRule ^Nowosci_MAGDOS.htm(.*)$ http://dev.finka.pl/oferta/magazyn/nowosci/$1 [R=301, NC]
RewriteRule ^Opis_KASA.htm(.*)$ http://dev.finka.pl/oferta/kasa/$1 [R=301, NC]
RewriteRule ^WersjaProbnaKASA.htm(.*)$ http://dev.finka.pl/oferta/kasa/wersje-probne/$1 [R=301, NC]
RewriteRule ^EkranyKASA.htm(.*)$ http://dev.finka.pl/oferta/kasa/ekrany/$1 [R=301, NC]
RewriteRule ^Nowosci_KASA.htm(.*)$ http://dev.finka.pl/oferta/kasa/nowosci/$1 [R=301, NC]
RewriteRule ^Wersje_probne.htm(.*)$ http://dev.finka.pl/wersje-probne/$1 [R=301, NC]
RewriteRule ^Uslugi_abonamentowe.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/uslugi-abonamentowe/$1 [R=301, NC]
RewriteRule ^Wersje_probne1.htm(.*)$ http://dev.finka.pl/wersje-probne/$1 [R=301, NC]
RewriteRule ^WersjeInternetoweWIN.htm(.*)$ http://dev.finka.pl/wersje-probne/$1 [R=301, NC]
RewriteRule ^Wersje_probne_DOS.htm(.*)$ http://dev.finka.pl/wersje-probne/dos/$1 [R=301, NC]
RewriteRule ^Formularz_demo.htm(.*)$ http://dev.finka.pl/wersje-probne/demo/$1 [R=301, NC]
RewriteRule ^AktualnWsparcie.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/aktualnosci/$1 [R=301, NC]
RewriteRule ^Jak_kupic_program.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/jak-kupic-program/$1 [R=301, NC]
RewriteRule ^Wdrozenia_i_szkolenia.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/wdrozenia-i-szkolenia/$1 [R=301, NC]
RewriteRule ^Rozbudowa_programu.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/rozbudowa-programu/$1 [R=301, NC]
RewriteRule ^Strefa_Uzytkownika_.htm(.*)$ http://dev.finka.pl/strefa-uzytkownika/$1 [R=301, NC]
RewriteRule ^NasiKlienci.htm(.*)$ http://dev.finka.pl/o-firmie/nasi-klienci/$1 [R=301, NC]
RewriteRule ^AjkZostacPartnerem.htm(.*)$ http://dev.finka.pl/o-firmie/jak-zostac-partnerem/$1 [R=301, NC]
RewriteRule ^ONas.htm(.*)$ http://dev.finka.pl/o-firmie/$1 [R=301, NC]
RewriteRule ^FAQ.htm(.*)$ http://dev.finka.pl/baza-wiedzy/faq/$1 [R=301, NC]
RewriteRule ^Wymagania_techniczne.htm(.*)$ http://dev.finka.pl/baza-wiedzy/wymagania-techniczne/$1 [R=301, NC]
RewriteRule ^Wersje_probne_FKDOS.htm(.*)$ http://dev.finka.pl/oferta/ksiega-handlowa-dos/wersje-probne/$1 [R=301, NC]
RewriteRule ^Wersje_probne_WIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/wersje-probne/$1 [R=301, NC]
RewriteRule ^Filmy_KPRWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/$1 [R=301, NC]
RewriteRule ^Wersje_probne_KPRDOS.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa-dos/wersje-probne/$1 [R=301, NC]
RewriteRule ^Baza_wiedzy_.htm(.*)$ http://dev.finka.pl/baza-wiedzy/$1 [R=301, NC]
RewriteRule ^Inne_artykuly.htm(.*)$ http://dev.finka.pl/baza-wiedzy/inne-artykuly/$1 [R=301, NC]
RewriteRule ^place.htm(.*)$ http://dev.finka.pl/baza-wiedzy/place/$1 [R=301, NC]
RewriteRule ^Nowosci_KPRWIN.htm(.*)$ http://dev.finka.pl/oferta/ksiega-podatkowa/nowosci/$1 [R=301, NC]