
<IfModule mod_php5.c>
php_value include_path ".:/usr/lib/php:/usr/local/lib/php:/home4/finka/php"
</IfModule>

SecFilterEngine Off

RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.finka\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^tiksoft\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^finka\.com\.pl$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteCond %{HTTP_HOST} ^finka\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.finka\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]

RewriteCond %{HTTP_HOST} ^tiksoft\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tiksoft\.eu$
RewriteRule ^/?$ "http\:\/\/finka\.pl" [R=301,L]
RewriteRule ^StronaGlowna.htm$ index.php?mp=43 [L,QSA] 
RewriteRule ^Programy.htm$ index.php?mp=44 [L,QSA] 
RewriteRule ^WersjeProbne.htm$ index.php?mp=45 [L,QSA] 
RewriteRule ^E-sklep.htm$ index.php?mp=46 [L,QSA] 
RewriteRule ^Promocje.htm$ index.php?mp=47 [L,QSA] 
RewriteRule ^Strefa_Uzytkownika.htm$ index.php?mp=48 [L,QSA] 
RewriteRule ^O_firmie.htm$ index.php?mp=49 [L,QSA] 
RewriteRule ^Opis_FKWIN.htm$ index.php?mp=50 [L,QSA] 
RewriteRule ^Ksiega-podatkowa-Windows.htm$ index.php?mp=51 [L,QSA] 
RewriteRule ^Opis_FAKTURA.htm$ index.php?mp=52 [L,QSA] 
RewriteRule ^male_srednie_firmy.htm$ index.php?mp=60 [L,QSA] 
RewriteRule ^biura_rachunkowe.htm$ index.php?mp=61 [L,QSA] 
RewriteRule ^fundacje_stowarzyszenia.htm$ index.php?mp=62 [L,QSA] 
RewriteRule ^Kontakt.htm$ index.php?mp=64 [L,QSA] 
RewriteRule ^WersjeProbneDol.htm$ index.php?mp=67 [L,QSA] 
RewriteRule ^BazaWiedzy.htm$ index.php?mp=68 [L,QSA] 
RewriteRule ^Rozbudowa_programu.htm$ index.php?mp=410 [L,QSA] 
RewriteRule ^WersjeInternetoweWIN.htm$ index.php?mp=76 [L,QSA] 
RewriteRule ^WersjaProbnaKASA.htm$ index.php?mp=88 [L,QSA] 
RewriteRule ^EkranyKASA.htm$ index.php?mp=89 [L,QSA] 
RewriteRule ^Nowosci_KASA.htm$ index.php?mp=91 [L,QSA] 
RewriteRule ^Wdrozenia_i_szkolenia.htm$ index.php?mp=96 [L,QSA] 
RewriteRule ^ONas.htm$ index.php?mp=97 [L,QSA] 
RewriteRule ^AjkZostacPartnerem.htm$ index.php?mp=99 [L,QSA] 
RewriteRule ^SiecSprzedazy.htm$ index.php?mp=100 [L,QSA] 
RewriteRule ^NasiKlienci.htm$ index.php?mp=101 [L,QSA] 
RewriteRule ^KontaktONAS.htm$ index.php?mp=103 [L,QSA] 
RewriteRule ^opis_fkwin.htm$ index.php?mp=139 [L,QSA] 
RewriteRule ^Opis_KPRWIN.htm$ index.php?mp=140 [L,QSA] 
RewriteRule ^Opis_KASA.htm$ index.php?mp=142 [L,QSA] 
RewriteRule ^FinKs.htm$ index.php?mp=150 [L,QSA] 
RewriteRule ^FINKA_KADRY_PLACE.htm$ index.php?mp=160 [L,QSA] 
RewriteRule ^RYCZALT.htm$ index.php?mp=167 [L,QSA] 
RewriteRule ^Opis_RYCZALT.htm$ index.php?mp=235 [L,QSA] 
RewriteRule ^Probna_RYCZALT.htm$ index.php?mp=236 [L,QSA] 
RewriteRule ^Ekrany_RYCZALT.htm$ index.php?mp=237 [L,QSA] 
RewriteRule ^newsy_RYCZALT.htm$ index.php?mp=239 [L,QSA] 
RewriteRule ^kupuje_RYCZALT.htm$ index.php?mp=247 [L,QSA] 
RewriteRule ^koszykPage.htm$ index.php?mp=262 [L,QSA] 
RewriteRule ^Regulamin sklepu.htm$ index.php?mp=264 [L,QSA] 
RewriteRule ^Biuro rachunkowe.htm$ index.php?mp=267 [L,QSA] 
RewriteRule ^AktualnWsparcie.htm$ index.php?mp=278 [L,QSA] 
RewriteRule ^Baza_wiedzy.htm$ index.php?mp=302 [L,QSA] 
RewriteRule ^FAQ.htm$ index.php?mp=303 [L,QSA] 
RewriteRule ^Wymagania_techniczne.htm$ index.php?mp=305 [L,QSA] 
RewriteRule ^AktualneWersje.htm$ index.php?mp=311 [L,QSA] 
RewriteRule ^AktualneWersje.htm$ index.php?mp=312 [L,QSA] 
RewriteRule ^Jak_kupic_program.htm$ index.php?mp=313 [L,QSA] 
RewriteRule ^Uslugi_abonamentowe.htm$ index.php?mp=314 [L,QSA] 
RewriteRule ^Wersje_probne.htm$ index.php?mp=315 [L,QSA] 
RewriteRule ^Ekrany_FKWIN.htm$ index.php?mp=316 [L,QSA] 
RewriteRule ^Finka_FKWIN.htm$ index.php?mp=318 [L,QSA] 
RewriteRule ^Nowosci_FKWIN.htm$ index.php?mp=319 [L,QSA] 
RewriteRule ^Wersje_probne_FKDOS.htm$ index.php?mp=323 [L,QSA] 
RewriteRule ^Dokumentacja_FKDOS.htm$ index.php?mp=324 [L,QSA] 
RewriteRule ^Nowosci_FKDOS.htm$ index.php?mp=325 [L,QSA] 
RewriteRule ^Opis_STWWIN.htm$ index.php?mp=328 [L,QSA] 
RewriteRule ^Wersje_probne_DOS.htm$ index.php?mp=329 [L,QSA] 
RewriteRule ^Formularz_demo.htm$ index.php?mp=330 [L,QSA] 
RewriteRule ^Wersje_probne1.htm$ index.php?mp=398 [L,QSA] 
RewriteRule ^Filmy_KPRWIN.htm$ index.php?mp=332 [L,QSA] 
RewriteRule ^Wersje_probne_WIN.htm$ index.php?mp=333 [L,QSA] 
RewriteRule ^Ekrany_KPRWIN.htm$ index.php?mp=334 [L,QSA] 
RewriteRule ^Nowosci_KPRWIN.htm$ index.php?mp=336 [L,QSA] 
RewriteRule ^Opis_KPRDOS.htm$ index.php?mp=338 [L,QSA] 
RewriteRule ^Opis_KPRDOS.htm$ index.php?mp=339 [L,QSA] 
RewriteRule ^Wersje_probne_KPRDOS.htm$ index.php?mp=340 [L,QSA] 
RewriteRule ^Dokumentacja_KPRDOS.htm$ index.php?mp=341 [L,QSA] 
RewriteRule ^Nowosci_KPRDOS.htm$ index.php?mp=342 [L,QSA] 
RewriteRule ^FINKA_KADRY_PLACE.htm$ index.php?mp=344 [L,QSA] 
RewriteRule ^Opis_FINKA_PLACE.htm$ index.php?mp=345 [L,QSA] 
RewriteRule ^Nowosci_PLAWIN.htm$ index.php?mp=349 [L,QSA] 
RewriteRule ^Dokumentacja_PLADOS.htm$ index.php?mp=354 [L,QSA] 
RewriteRule ^Nowosci_PLADOS.htm$ index.php?mp=355 [L,QSA] 
RewriteRule ^wskazniki.htm$ index.php?mp=357 [L,QSA] 
RewriteRule ^podatki.htm$ index.php?mp=358 [L,QSA] 
RewriteRule ^place.htm$ index.php?mp=359 [L,QSA] 
RewriteRule ^Nowosci_FV.htm$ index.php?mp=366 [L,QSA] 
RewriteRule ^Finka-RTYCZALT.htm$ index.php?mp=369 [L,QSA] 
RewriteRule ^Opis_STWWIN.htm$ index.php?mp=370 [L,QSA] 
RewriteRule ^Opis_STWWIN.htm$ index.php?mp=371 [L,QSA] 
RewriteRule ^Wersje_probne.htm$ index.php?mp=372 [L,QSA] 
RewriteRule ^Nowosci_STWWIN.htm$ index.php?mp=374 [L,QSA] 
RewriteRule ^Opis_STWDOS.htm$ index.php?mp=376 [L,QSA] 
RewriteRule ^Opis_STWDOS.htm$ index.php?mp=377 [L,QSA] 
RewriteRule ^Dokumentacja_STWDOS.htm$ index.php?mp=379 [L,QSA] 
RewriteRule ^Nowosci_STWDOS.htm$ index.php?mp=380 [L,QSA] 
RewriteRule ^Dokumentacja_MAGDOS.htm$ index.php?mp=385 [L,QSA] 
RewriteRule ^Nowosci_MAGDOS.htm$ index.php?mp=386 [L,QSA] 
RewriteRule ^Funkcje_FKWIN.htm$ index.php?mp=388 [L,QSA] 
RewriteRule ^PLACE_Funkcje.htm$ index.php?mp=389 [L,QSA] 
RewriteRule ^Funkcje_RYCZALT.htm$ index.php?mp=392 [L,QSA] 
RewriteRule ^Rekrutacja.htm$ index.php?mp=395 [L,QSA] 
RewriteRule ^mikro_firmy.htm$ index.php?mp=396 [L,QSA] 
RewriteRule ^Nowosci_VATDOS.htm$ index.php?mp=397 [L,QSA] 
RewriteRule ^FAQ_odpowiedzi.htm$ index.php?mp=401 [L,QSA] 
RewriteRule ^Baza_wiedzy_.htm$ index.php?mp=400 [L,QSA] 
RewriteRule ^Wymagania_techniczne_.htm$ index.php?mp=402 [L,QSA] 
RewriteRule ^Wskazniki.htm$ index.php?mp=403 [L,QSA] 
RewriteRule ^Podatki.htm$ index.php?mp=404 [L,QSA] 
RewriteRule ^Place_.htm$ index.php?mp=405 [L,QSA] 
RewriteRule ^Strefa_Uzytkownika_.htm$ index.php?mp=406 [L,QSA] 
RewriteRule ^Uslugi_abonamentowe_dol.htm$ index.php?mp=411 [L,QSA] 
RewriteRule ^Test.htm$ index.php?mp=412 [L,QSA] 
RewriteRule ^Promocje2.htm$ index.php?mp=417 [L,QSA] 
RewriteRule ^ordynacja_2016_1.htm$ index.php?mp=418 [L,QSA] 
RewriteRule ^zmniejszanie_kosztow.htm$ index.php?mp=419 [L,QSA] 
RewriteRule ^Inne_artykuly.htm$ index.php?mp=420 [L,QSA] 
